

 <table>
     <tr>
         <td>Id</td>
         <td>Name</td>
     </tr>

     <tr>
         <td>1</td>
         <td>Abhay</td>
     </tr>

     <tr>
         <td>2</td>
         <td>Bak</td>
     </tr>

     <tr>
         <td>3</td>
         <td>John</td>
     </tr>


 </table>